 <link rel="stylesheet" href="/stylesheets/index.style.css" />
 
 <div class="container">
 
        <h2 class="title">
    <span class="title-word title-word-1">Hi,</span>
    <span class="title-word title-word-2">welcome to</span>
    <span class="title-word title-word-3">She</span>
    <span class="title-word title-word-4">Writes</span>
  </h2>
</div>
