<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <nav>
         <ul>
            <li id="to-left">
               <h1><a href="/"> She Writes </a></h1>
            </li>
            <li id="to-right">
               <p><a href="/login">Log In</a></p>
            </li>
               <li>
                  <p><a href="/signup">Sign Up</a></p>

               </li>
               <li>
                  <p><a href="/post/create">Write</a></p>
               </li>
               
               <li>
                  <p><a href="/myposts">My Posts</a></p>
               </li>
               {{!-- <li>
                  <p><a href="/read">Read</a></p>
               </li> --}}
         </ul>
      </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>