<div id="form">
    <h2>Log In</h2>
    <form action="/login" method="POST">
   
    <label> Username
        <input type="text" name="username" placeholder="password" />
    </label> 

    <label> Password
        <input type="password" name="password" placeholder="********" />
    </label>
    <button type="submit"> Log In </button>

    </form>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</div>