<link rel="stylesheet" href="/stylesheets/login.style.css" />
<body>
    
</body>
<div id="form">
    <h2>Log In</h2>
    <form class="login-form" action="/login" method="POST">
   
    <label> Username
        <input type="text" name="username" placeholder="password" />
    </label> 

    <label> Password
        <input type="password" name="password" placeholder="********" />
    </label>
    <button class="button-btn" type="submit"> Log In </button>

    </form>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
</div>
</body>