<link rel="stylesheet" href="/stylesheets/post.style.css" />

<body>


    <form action="/post/create" enctype="multipart/form-data" method="POST">
    <div>
     <label class="title">Title:
        <input type="text" name="title">
    </label>
</div>
 <div>
     <label>Content:
        <input type="text" name="content">
    </label>
</div>


<div>
    <label> Image:
     <input type="file" name="post-header-image">
     </label>
</div>
<button type="submit">Create Post</button>

    </form>

  