  <style>
      @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap');
      </style>
 
 <link rel="stylesheet" href="/stylesheets/signup.style.css" />

<div id="signup-form">
    <h2 class="signup">Sign Up</h2>
    <form class="form" action="/signup" method="POST">
    

    <label class="label"> Username
        <input type="text" name="username" placeholder="username" />
    </label>

    <label class="label"> Email
        <input type="email" name="email" placeholder="jane@gmail.com" />
    </label>

    <label class="label">Password
        <input type="password" name="password" placeholder="*******">
    </label>

    <button class="create-act" type="submit">Create Account</button>
    </form>
</div>